html {
  height: 100vh;
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
  width: 100vw;
  min-height: 29.9074074vh;
  background: url("Header.png") top center;
  background-size: cover;
}

.content-container-one {
  width: 100vw;
  min-height: 29.3518519vh;

  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  background: url("Content.png") top center;
  background-size: cover;
}

.content-container-second {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  width: 100vw;
  min-height: 29.3518519vh;
  background: url("Revers Content.png") top center;
  background-size: cover;
}



@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

footer {
  width: 100vw;
  min-height: 40.8333333vh;
  background: url("Footer.png") top center;
  background-size: cover;
  position: relative;
}

p,
h1 {
  margin: 0;
}

.photo-content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100vw;
  padding: 1vw;
  animation: marquee 10s linear infinite;

}

.content-container-one:hover .photo-content {
  animation-play-state: paused;
}

.content-container-second:hover .photo-content {
  animation-play-state: paused;
}

.photo-content img {
  max-width: 14vw;
  max-height: 14vw;
}

.text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Franklin Gothic Heavy';
  font-size: 3vw;
  color:white;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3),
  5px 5px 70px rgba(255,255,255,0.5);
  /* transform: scale(1,1.1) translate(-50%, 10%); */
} 

#album-info{
  width: 80vw;
  height: 80vh;
  left: 10%;
  /* background-color: aqua; */
  display: flex;
  position: absolute;
  z-index: 10;
  visibility:hidden;
  background: url("bg-info.PNG") top center;
  background-size: cover;
  border-style: solid;
  border-width: 7px;
}

#album-info-left{
  width: 32vw;
  height: 80vh;
  display: flex;
  /* background-color: brown; */
  flex-direction: column

}
#album-info-right{
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 48vw;
  height: 80vh;
  /* background-color: rgb(69, 42, 165); */
}
#album-info-tracklist{
  width: 48vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: gold;
}
#album-info-img{
  width: 32vw;
  height: 50vh;
  /* background-color: red; */
  border-right-style: solid;
  border-bottom-style: solid;
  border-width: 7px;
}
#album-info-player{
  width: 32vw;
  height: 100px;
  min-height: 30vh;
  /* background-color: rgb(229, 255, 0); */
}

#album-info-exitbutton{
  width: 20px;
  height: 20px;
}