html {
  height: 100vh;
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: scroll;
}

header {
  width: 100vw;
  min-height: 29.9074074vh;
  background: url("Header.png") top center;
  background-size: cover;
}

.content-container-one {

 
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;



  width: 100vw;
  min-height: 29.3518519vh;
  background: url("Content.png") top center;
  background-size: cover;
}

.content-container-second {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  width: 100vw;
  min-height: 29.3518519vh;
  background: url("Revers Content.png") top center;
  background-size: cover;
}



@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

footer {
  width: 100vw;
  min-height: 40.8333333vh;
  background: url("Footer.png") top center;
  background-size: cover;
}

p,
h1 {
  margin: 0;
}

.photo-content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100vw;
  padding: 1vw;
  animation: marquee 10s linear infinite;

}

.content-container-one:hover .photo-content {
  animation-play-state: paused;
}

.content-container-second:hover .photo-content {
  animation-play-state: paused;
}

.photo-content img {
  width: 14vw;
  height: 14vw;
}